@import 'tailwindcss';

@theme {
  --font-league: 'League Spartan Variable', Arial, sans-serif;
}

/* @font-face {
  font-family: 'LeagueSpartan';
  src: local('LeagueSpartan Variable'),
    url('/assets/font/LeagueSpartan-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

.LeagueSpartan_font {
  font-family: 'LeagueSpartan';
} */
